html { overflow: hidden }
html, body { width: 100%; height: 100%; margin: 0; padding: 0 }
body { overflow: scroll }

#canvas { height: 960px; width: 640px; margin: 0 auto; position: relative; overflow: hidden }
.full { height: 960px; width: 640px; position: absolute; top: 0; left: 0 }

#bg { z-index: 0 }
#frogbase { display: none }

.frog { z-index: 10; width: 196px; height: 160px; position: absolute; overflow: hidden; top: 300px; left: 222px }
.base    { z-index: 11; width: 512px; height: 256px; position: absolute; top: -30px; left: -30px }
.pattern { z-index: 12; width: 512px; height: 256px; position: absolute; top: -30px; left: -30px }
.overlay { z-index: 13; width: 768px; height: 256px; position: absolute; top: -30px; left: -30px }
.overlay { background: url(../resources/frogs/overlay_256.png) 0 0 no-repeat }

.jump .base { top: 0; left: -285px }
.jump .overlay { top: 0; left: -285px }

/*temp*/
.name { position: absolute; z-index: 20; width: 640px; top: 100px }
#name { width: 100%; color: #EEE; font: 36px/75px Georgia, sans; border: 0; background-color: rgba(0,0,0,0.2); text-align:center }
#name:focus { outline: none; box-shadow: inset 0 0 25px #333 }

#name-row { position: absolute; z-index: 20; width: 640px; top: 50px; text-align: center }
#name-row select { -webkit-appearance: none; width: auto; font-size: 12px; padding: 5px; }
#name-row select { width: 65px; border-color: #444; background-color: rgba(0,0,0,0.4); color: #DDD; outline: none }
#name-row #pattern { width: 90px }