html { overflow: hidden }
html, body { width: 100%; height: 100%; margin: 0; padding: 0 }
body { overflow: scroll }

#canvas { height: 960px; width: 640px; margin: 0 auto; position: relative; overflow: hidden }
.full { height: 960px; width: 640px; position: absolute; top: 0; left: 0 }

#bg { z-index: 0 }
#frogbase { display: none }

.frog { z-index: 10; width: 196px; height: 160px; position: absolute; overflow: hidden; top: 300px; left: 222px }
.base    { z-index: 11; width: 512px; height: 256px; position: absolute; top: -30px; left: -30px }
.pattern { z-index: 12; width: 512px; height: 256px; position: absolute; top: -30px; left: -30px }
.overlay { z-index: 13; width: 768px; height: 256px; position: absolute; top: -30px; left: -30px }
.overlay { background: url(../resources/frogs/overlay_256.png) 0 0 no-repeat }

.jump .base { top: 0; left: -285px }
.jump .overlay { top: 0; left: -285px }

/*temp*/
.name { position: absolute; z-index: 20; width: 640px; top: 100px }
#name { width: 100%; color: #EEE; font: 36px/75px Georgia, sans; border: 0; background-color: rgba(0,0,0,0.2); text-align:center }
#name:focus { outline: none; box-shadow: inset 0 0 25px #333 }

#name-row { position: absolute; z-index: 20; width: 640px; top: 50px; text-align: center }
#name-row select { -webkit-appearance: none; width: auto; font-size: 12px; padding: 5px; }
#name-row select { width: 75px; border-color: #444; background-color: rgba(0,0,0,0.4); color: #DDD; outline: none }

.Callaina .pattern { background-color: rgb(13,229,255 )}
.Picea    .pattern { background-color: rgb(0,0,0      )}
.Caelus   .pattern { background-color: rgb(0,138,255  )}
.Albeo    .pattern { background-color: rgb(235,235,235)}
.Carota   .pattern { background-color: rgb(255,78,0   )}
.Aurum    .pattern { background-color: rgb(255,228,0  )}
.Folium   .pattern { background-color: rgb(150,255,0  )}
.Bruna    .pattern { background-color: rgb(88,56,15   )}
.Pruni    .pattern { background-color: rgb(75,15,70   )}
.Muscus   .pattern { background-color: rgb(67,255,0   )}
.Ceres    .pattern { background-color: rgb(241,192,171)}
.Tingo    .pattern { background-color: rgb(159,0,0    )}
.Floris   .pattern { background-color: rgb(255,3,157  )}
.Viola    .pattern { background-color: rgb(174,0,255  )}
.Cafea    .pattern { background-color: rgb(60,38,9    )}
.Chroma   .pattern { background-color: rgb(1,1,1      )}

.Anura     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_0_256.png) 0 0 stretch }
.Partiri   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_1_256.png) 0 0 stretch }
.Crustalli .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_2_256.png) 0 0 stretch }
.Velatus   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_3_256.png) 0 0 stretch }
.Clunicula .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_4_256.png) 0 0 stretch }
.Marmorea  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_5_256.png) 0 0 stretch }
.Mixtus    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_6_256.png) 0 0 stretch }
.Nasus     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_7_256.png) 0 0 stretch }
.Stellata  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_8_256.png) 0 0 stretch }
.Puncti    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_9_256.png) 0 0 stretch }
.Zebrae    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_10_256.png) 0 0 stretch }
.Calyx     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_11_256.png) 0 0 stretch }
.Nimbilis  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_12_256.png) 0 0 stretch }
.Roboris   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_13_256.png) 0 0 stretch }
.Adamantis .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_14_256.png) 0 0 stretch }
.Africanus .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_15_256.png) 0 0 stretch }
.Serpentis .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_16_256.png) 0 0 stretch }
.Bovis     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_17_256.png) 0 0 stretch }
.Viduo     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_18_256.png) 0 0 stretch }
.Spinae    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_19_256.png) 0 0 stretch }
.Cesti     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_20_256.png) 0 0 stretch }
.Sagitta   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_21_256.png) 0 0 stretch }
.Amfractus .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_22_256.png) 0 0 stretch }
.Ornatus   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_23_256.png) 0 0 stretch }
.Sol       .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_24_256.png) 0 0 stretch }
.Lucus     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_25_256.png) 0 0 stretch }
.Ligo      .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_26_256.png) 0 0 stretch }
.Corona    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_27_256.png) 0 0 stretch }
.Arbor     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_28_256.png) 0 0 stretch }
.Ocularis  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_29_256.png) 0 0 stretch }
.Insero    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_30_256.png) 0 0 stretch }
.Biplex    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_31_256.png) 0 0 stretch }
.Pingo     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_32_256.png) 0 0 stretch }
.Calvaria  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_33_256.png) 0 0 stretch }
.Floresco  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_34_256.png) 0 0 stretch }
.Magus     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_35_256.png) 0 0 stretch }
.Veru      .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_36_256.png) 0 0 stretch }
.Tribus    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_37_256.png) 0 0 stretch }
.Lanterna  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_38_256.png) 0 0 stretch }
.Glacio    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_39_256.png) 0 0 stretch }
.Ludo      .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_40_256.png) 0 0 stretch }
.Marinus   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_41_256.png) 0 0 stretch }
.Dextera   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_42_256.png) 0 0 stretch }
.Trivium   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_43_256.png) 0 0 stretch }
.Obaro     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_44_256.png) 0 0 stretch }
.Bulla     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_45_256.png) 0 0 stretch }
.Orbis     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_46_256.png) 0 0 stretch }
.Vinaceus  .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_47_256.png) 0 0 stretch }
.Persona   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_48_256.png) 0 0 stretch }
.Signum    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_49_256.png) 0 0 stretch }
.Gyrus     .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_50_256.png) 0 0 stretch }
.Geminus   .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_51_256.png) 0 0 stretch }
.Bulbus    .pattern { -webkit-mask-box-image: url(../resources/frogs/frog_52_256.png) 0 0 stretch }